body {
  background-color: #444;
}
.game {
  width: 500px;
  text-align: center;
  color: white;
  margin: auto;
  font-family: system-ui;
  font-weight: 500;
  overflow: hidden;
  font-size: 30px;
}
.title {
  background-color: #f25;
  padding: 10px 0;
  margin: 4px 0;
  width: 463px;
}
span {
  color: #fa0;
}
.square {
  width: 150px;
  height: 150px;
  background-color: #f25;
  float: left;
  margin: 2px;
  font-size: 90px;
}
.square:hover {
  background-color: #000;
  cursor: pointer;
}
